language: rust
rust: stable
dist: bionic
notifications:
  email:
    on_success: never
env:
  global:
    - secure: gQIARgN5jCAP3IOrXv2DFgCiJpEa+wEdZyRbwzZfwKI288DGRJ50jKs2nFSQWTh/2oq2tHdprXIOFyxWrB+kaazLA6wQPjHHMNVMnEBmhW420xwyFrRLvaM9+3q3YV9gkPu98cbzeP14hqvgJa0yfXM7DdWMvHh+pUWAcBHdNcY=
    - secure: UsmZSrX1K7DLfHQZcw1vMZBYm1zE27XgypCK1Jd4cmo4wKogx+uFCCIya53Cw8Jfd/MazcMpGjKFgdv+/qMDSctJqAgVUWRcbE7cxlO8F0OmpLDirTfOE/tTZ26pdQxxEpGfdQdbEGkl0HV/xYznmsKRR25VX+KY+yVU/jzyF6c=
before_install:
  - yes | sudo add-apt-repository ppa:allegro/5.2
  - sudo apt-get update
install:
  - sudo apt-get install liballegro-acodec5-dev liballegro-audio5-dev liballegro-dialog5-dev liballegro-image5-dev liballegro-physfs5-dev liballegro-ttf5-dev liballegro-video5-dev liballegro5-dev python3-pip --force-yes
  - sudo pip3 install toml
script:
  - cat /usr/include/allegro5/base.h
  - ./cargo_util.py --build --verbose
  - ./cargo_util.py --test
  - ./cargo_util.py --doc
  - cd examples
  - ./target/debug/example --init-only
  - ./target/debug/config_example Cargo.toml
  - cd ..
after_success:
  - cd doc/target
  - ../gh_pages_upload.sh
